<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - 3Empanadas</title>

    @Styles.Render("~/Content/Site")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/fastselect")
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fastSearchSelect")
    <script src="~/Content/js/Iniciar.js"></script>
</body>
</html>
