@using TrabajoPracticoPw3.Models
@model TrabajoPracticoPw3.Models.Pedido

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    ViewBag.Title = "Iniciar";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <fieldset>
                    <legend class="header">Tu pedido</legend>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row col">
                                <b>Nombre de Negocio:&nbsp;</b>
                                <i>@Model.NombreNegocio</i>
                            </div>
                            <hr />
                            <div class="row-col">
                                <b>Descripcion:&nbsp;</b>
                                <i>@Model.Descripcion</i>
                            </div>
                            <hr />
                            <div class="row-col">
                                <b>Precio Unidad:&nbsp;</b>
                                <i>@Model.PrecioUnidad</i>
                            </div>
                            <hr />
                            <div class="row-col">
                                <b>Precio Docena:&nbsp;</b>
                                <i>@Model.PrecioDocena</i>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <b>Gustos de empanadas</b>
                                @foreach (GustoEmpanada gusto in ViewBag.ListaDeGustos)
                                {
                                    if (Model.GustoEmpanada.Contains(gusto))
                                    {
                                        <div><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@gusto.Nombre</i></div>
                                    }
                                }
                            </div>
                            <hr />
                            <div class="form-group">
                                <b>Invitados</b>
                                <div class="form-group">
                                    <table class="table-borderless tab-pane">
                                        <tr>
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th>Usuario</th>
                                            <th>Eligio gustos?</th>
                                        </tr>
                                        @foreach (Usuario usuario in ViewBag.ListaDeUsuarios)
                                        {
                                            <tr>
                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                <td>@usuario.Email&nbsp;&nbsp;</td>
                                                @if (usuario.InvitacionPedido.Where(u => u.IdPedido == Model.IdPedido).Select(i => i.Completado).FirstOrDefault() == true)
                                                {
                                                    <td> (SI) </td>
                                                }
                                                else
                                                {
                                                    <td> (NO) </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="btn-toolbar d-flex justify-content-around">
                        <a href="/Pedidos/Lista" class="btn btn-Info btn-lg">Volver</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>