@using TrabajoPracticoPw3.Models
@model TrabajoPracticoPw3.Models.Pedido

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    ViewBag.Title = "Iniciar";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/Pedidos/Editar" method="post">
                      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <fieldset>
                        <legend class="header">Tu pedido</legend>
                        <input type="hidden" name="IdPedido" value="@Model.IdPedido" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="NombreNegocio">Nombre de Negocio</label>
                                    @Html.EditorFor(model => model.NombreNegocio, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Negocio", autocomplete = "off", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.NombreNegocio, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="Descripcion">Descripcion</label>
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripción", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="precioUnidad">Precio Unidad</label>
                                    @Html.EditorFor(model => model.PrecioUnidad, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio Unidad ($)", autocomplete = "off", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.PrecioUnidad, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="precioDocena">Precio Docena</label>
                                    @Html.EditorFor(model => model.PrecioDocena, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio Docena ($)", autocomplete = "off", required = "true" } })
                                    @Html.ValidationMessageFor(model => model.PrecioDocena, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="NombreNegocio">Gusto de empanadas</label>
                                    <select name="gustosDisponibles" id="gustosDisponibles" class="form-control multipleSelect" required multiple>
                                        @foreach (GustoEmpanada gusto in ViewBag.ListaDeGustos)
                                        {
                                            if (Model.GustoEmpanada.Contains(gusto))
                                            {
                                                <option value="@gusto.IdGustoEmpanada" selected>@gusto.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@gusto.IdGustoEmpanada">@gusto.Nombre</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="NombreNegocio">Invitados</label>
                                    <div class="form-group">
                                        <table class="table-borderless tab-pane">
                                            <tr>
                                                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                <th>Usuario</th>
                                                <th>Eligio gustos?</th>
                                            </tr>
                                            @foreach (Usuario usuario in ViewBag.ListaDeInvitados)
                                            {
                                                <tr>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>@usuario.Email&nbsp;&nbsp;</td>
                                                    @if (usuario.InvitacionPedido.Where(u => u.IdPedido == Model.IdPedido).Select(i => i.Completado).FirstOrDefault() == true)
                                                    {
                                                        <td> (SI) </td>
                                                    }
                                                    else
                                                    {
                                                        <td> (NO) </td>
                                                    }
                                                </tr>
                                            }
                                        </table>
                                        <br />
                                        <select name="invitados" id="invitados" class="form-control multipleSelect" required multiple>
                                            @{
                                                foreach (Usuario usuario in ViewBag.ListaDeUsuarios)
                                                {
                                                    int bandera = 0;
                                                    foreach (InvitacionPedido invitacionPedido in Model.InvitacionPedido)
                                                    {
                                                        if (usuario.IdUsuario == invitacionPedido.IdUsuario)
                                                        {
                                                            bandera = 1;
                                                        }
                                                        else
                                                        {
                                                        }
                                                    }
                                                    if (bandera == 1)
                                                    {
                                                        <option value="@usuario.IdUsuario" selected>@usuario.Email</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@usuario.IdUsuario">@usuario.Email</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div style="display:flex;justify-content:center;align-items:center;">
                            <div class="col-sm-6" style="text-align:right">Enviar invitacion:</div>
                            <div class="col-sm-6" style="text-align:left">
                                <SELECT NAME="enviarInvitacion" id="invitacion" class="form-control" required>
                                    <OPTION VALUE="1">A nadie</OPTION>
                                    <OPTION VALUE="2">Re-Enviar invitacion a todos</OPTION>
                                    <OPTION VALUE="3">Enviar solo a los nuevos</OPTION>
                                    <OPTION VALUE="4">Re-Enviar solo a los que no eligieron gustos</OPTION>
                                </SELECT>
                            </div>
                        </div>
                        <hr />
                        <div class="btn-toolbar d-flex justify-content-around">
                            <a id=@Model.IdPedido data-toggle="modal" data-target="#FinalizarModal" data-id="@Model.IdPedido" class="btn btn-lg btn-danger">Finalizar</a>
                            <button type="submit" class="btn btn-Info btn-lg">Guardar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


@* ---------------------Modal finalizar--------------------- *@
<div class="modal fade" id="FinalizarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Finalizar Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de finalizar el pedido?</p>
                <p>Tenga en cuenta que si finaliza el pedido no podrá editarlo mas adelante.</p>
                <p>Tampoco usted ni sus invitados podrán modificar la elección de gustos.</p>
            </div>
            <div class="modal-footer">
                <a href="/Pedidos/Finalizar/@Model.IdPedido" class="btn btn-danger">Finalizar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>