@model TrabajoPracticoPw3.Models.Pedido
@{
    ViewBag.Title = "Elegir";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form action="/Pedidos/elegir" method="post">
                    <fieldset>
                        <legend class="header">Elige Gustos</legend>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row-col">
                                    <b> Nombre de Negocio:&nbsp;</b>
                                    <i>@Model.NombreNegocio</i>
                                </div>
                                <hr />
                                <div class="form-group row-col">
                                    <b> Descripcion:&nbsp;</b>
                                    <i>@Model.Descripcion</i>
                                </div>
                                <hr />
                                <div class="form-group row-col">
                                    <b> Precio por Unidad:&nbsp;</b>
                                    <i>$ @Model.PrecioUnidad</i>
                                </div>
                                <hr />
                                <div class="form-group row-col">
                                    <b> Precio por Docena:&nbsp;</b>
                                    <i>$ @Model.PrecioDocena</i>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" id="idPedido" name="idPedido" value="@Model.IdPedido" />
                                    <input type="hidden" id="Token" name="token" value="@ViewBag.TokenInvitacion" />
                                    <input type="hidden" id="IdUsuario" name="IdUsuario" value="@ViewBag.IdUsuario" />
                                    <b>Gustos de empanadas</b>

                                    @foreach (var gusto in Model.GustoEmpanada)
                                    {
                                    <div class="row-col d-flex">
                                        <i class="col-md-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@gusto.Nombre</i>
                                        @if (Model.InvitacionPedidoGustoEmpanadaUsuario.Where(x => x.IdUsuario == ViewBag.IdUsuario && x.IdPedido == Model.IdPedido && x.IdGustoEmpanada == gusto.IdGustoEmpanada).Count() > 0)
                                        {
                                            <input class="col-md-2" type="number" id="@gusto.IdGustoEmpanada" name="gustoEmpanada_@gusto.IdGustoEmpanada" value="@Model.InvitacionPedidoGustoEmpanadaUsuario.Where(x=>x.IdPedido == Model.IdPedido && x.IdUsuario == ViewBag.IdUsuario && x.IdGustoEmpanada == gusto.IdGustoEmpanada).First().Cantidad" />
                                        }
                                        else
                                        {
                                            <input class="col-md-2" type="number" id="@gusto.IdGustoEmpanada" name="gustoEmpanada_@gusto.IdGustoEmpanada" value="" />
                                        }
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="btn-toolbar d-flex justify-content-around">
                            <button type="button" class="btn btn-success btn-lg" id="btnConfirmarGustos">Confirmar Gustos</button>
                            <a href="/Pedidos/Lista" class="btn btn-dark btn-lg">Atras</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmacionGustosModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="headerResultado">OK</h4>
            </div>
            <div class="modal-body">
                <p id="mensajeGustos"></p>
            </div>
            <div class="modal-footer">
                <a href="/Pedidos/Lista" class="btn btn-info">Gracias</a>
            </div>
        </div>

    </div>
</div>


