@model TrabajoPracticoPw3.Models.Pedido
@{
    ViewBag.Title = "Elegir";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                @*@using (Html.BeginForm())
                {*@
                <form action="/Pedidos/elegir" method="post">
                    <fieldset>
                        <legend class="header">Elige Gustos</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="lead"> Nombre de Negocio</label>
                                    <p class="form-control-lg">@Model.NombreNegocio</p>
                                    
                                    <label class="lead"> Descripcion</label>
                                    <p class="form-control-lg">@Model.Descripcion</p>
                                    <label class="lead"> Precio por Unidad</label>
                                    <p class="form-control-lg">$ @Model.PrecioUnidad</p>
                                    <label class="lead"> Precio por Docena</label>
                                    <p class="form-control-lg">$ @Model.PrecioDocena</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" name="idPedido" value="@Model.IdPedido" />
                                    <label for="NombreNegocio" class="lead">Gusto de empanadas</label>
                                    
                                    @foreach (var gusto in Model.GustoEmpanada)
                                    {
                                        <p clas="form-control-lg">@gusto.Nombre</p>
                                        <input  class="form-control" type="number" name="gustoEmpanada_@gusto.IdGustoEmpanada" value=""/>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="btn-toolbar d-flex justify-content-around">
                            <button type="submit" class="btn btn-Info btn-lg">Iniciar</button>
                            <button class="btn btn-dark btn-lg">Cancelar</button>
                        </div>

                    </fieldset>
                </form>
                @*}*@
            </div>
        </div>
    </div>
</div>

