@using TrabajoPracticoPw3.Models
@model TrabajoPracticoPw3.Models.Pedido

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    ViewBag.Title = "Iniciar";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                @*@using (Html.BeginForm())
                    {*@
                <form action="/Pedidos/Iniciar" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset>
                        <legend class="header">Tu pedido</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.NombreNegocio, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Negocio", id = "nombre", name = "nombre", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.NombreNegocio, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", placeholder = "Descripción", id = "descripcion", name = "descripcion", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.PrecioUnidad, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio Unidad ($)", id = "precioUnidad", name = "precioUnidad", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.PrecioUnidad, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.PrecioDocena, new { htmlAttributes = new { @class = "form-control", placeholder = "Precio Docena ($)", id = "precioDocena", name = "precioDocena", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.PrecioDocena, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="NombreNegocio">Gusto de empanadas</label>
                                    <select name="gustosDisponibles" id="gustosDisponibles" class="form-control multipleSelect" required multiple>
                                        @foreach (GustoEmpanada gusto in ViewBag.ListaDeGustos)
                                        {
                                            <option value="@gusto.IdGustoEmpanada">@gusto.Nombre</option>
                                        }
                                    </select>
                                    @*@Html.DropDownListFor(p => p.GustoEmpanada, ViewBag.ListaDeGustos as MultiSelectList, new { @id = "gustosDisponibles", @class = "form-control multipleSelect", multiple = "multiple" })*@
                                </div>
                                <div class="form-group">
                                    <label for="NombreNegocio">Invitados</label>
                                    <select name="invitados" id="invitados" class="form-control multipleSelect" required multiple>
                                        @foreach (Usuario usuario in ViewBag.ListaDeUsuarios)
                                        {
                                            <option value="@usuario.IdUsuario">@usuario.Email</option>
                                        }
                                    </select>
                                    @*@Html.DropDownListFor(p => p., ViewBag.ListaDeUsuarios as MultiSelectList, new { @id = "invitados", @class = "form-control multipleSelect", multiple = "multiple" })*@
                                </div>
                            </div>
                        </div>

                        <div class="btn-toolbar d-flex justify-content-around">
                            <button type="submit" class="btn btn-Info btn-lg">Iniciar</button>
                            <button class="btn btn-dark btn-lg">Cancelar</button>
                        </div>

                    </fieldset>
                </form>
                @*}*@
            </div>
        </div>
    </div>
</div>