@model TrabajoPracticoPw3.Models.Pedido

@{
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
    ViewBag.Title = "Iniciar";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                @using (Html.BeginForm())
                {
                <fieldset>
                    <legend class="header">Tu pedido</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NombreNegocio">Nombre de Negocio</label>
                                @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "form-control", @id = "nombre" })
                            </div>

                            <div class="form-group">
                                <label for="Descripcion">Descripcion</label>
                                @Html.TextAreaFor(p => p.Descripcion, new { @class = "form-control", @id = "descripcion" })
                            </div>

                            <div class="form-group">
                                <label for="precioUnidad">Precio Unidad</label>
                                @Html.TextBoxFor(m => m.PrecioUnidad, new { @class = "form-control", @id = "precioUnidad", type = "number", min = "0" })
                            </div>

                            <div class="form-group">
                                <label for="precioDocena">Precio Docena</label>
                                @Html.TextBoxFor(m => m.PrecioDocena, new { @class = "form-control", @id = "precioDocena", type = "number", min = "0" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NombreNegocio">Gusto de empanadas</label>
                                @Html.DropDownListFor(p => p.GustoEmpanada, ViewBag.ListaDeGustos as MultiSelectList, new { @id = "gustosDisponibles", @class = "form-control multipleSelect", multiple = "multiple" })
                            </div>
                            <div class="form-group">
                                <label for="NombreNegocio">Invitados</label>
                                @Html.DropDownListFor(p => p.Usuario, ViewBag.ListaDeUsuarios as MultiSelectList, new { @id = "invitados", @class = "form-control multipleSelect", multiple = "multiple" })
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 text-center">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                        </div>
                    </div>

                    <div class="btn-toolbar d-flex justify-content-around">
                        <button type="submit" class="btn btn-Info btn-lg">Iniciar</button>
                        <button class="btn btn-dark btn-lg">Cancelar</button>
                    </div>
                </fieldset>
                }
            </div>
        </div>
    </div>
</div>