@using TrabajoPracticoPw3.Models
@model PagedList.IPagedList<Pedido>
@using PagedList.Mvc
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Bienvenido @ViewBag.Usuario.Email</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Nombre Negocio</th>
            <th scope="col">Estado</th>
            <th scope="col">Rol</th>
            <th scope="col">Editar</th>
            <th scope="col">Elegir Gustos</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Usar como Base</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
        <tr>
            <td>@pedido.FechaCreacion</td>
            <td>@pedido.NombreNegocio</td>
            <td>@pedido.EstadoPedido.Nombre</td>
            @if (pedido.IdUsuarioResponsable == ViewBag.Usuario.IdUsuario)
            {
                if (pedido.EstadoPedido.IdEstadoPedido == 1)
                {
                    <td>Responsable</td>
                    <td><a href="/Pedidos/Editar/@pedido.IdPedido" class="btn btn-warning">Editar Pedido</a></td>
                    <td><a href="/Pedidos/Elegir/@pedido.IdPedido" class="btn btn-primary">Elegir Gustos</a></td>
                    @*<td><a href="/Pedidos/Eliminar/@pedido.IdPedido" class="btn btn-danger">Eliminar</a></td>*@
                    <td><a id=@pedido.IdPedido data-toggle="modal" data-target="#EliminarModal" data-id="@pedido.IdPedido" class="botonEliminar btn btn-danger">Eliminar</a></td>
                }
                else
                {
                    <td>Responsable</td>
                    <td><a href="/Pedidos/Detalle/@pedido.IdPedido" class="btn btn-info">Detalle Pedido</a></td>
                    <td></td>
                    @*<td><a href="/Pedidos/Eliminar/@pedido.IdPedido" class="btn btn-danger">Eliminar</a></td>*@
                    <td><a id=@pedido.IdPedido data-toggle="modal" data-target="#EliminarModal" data-id="@pedido.IdPedido" class="botonEliminar btn btn-danger">Eliminar</a></td>
                }
            }
            else
            {
                if (pedido.EstadoPedido.IdEstadoPedido == 1)
                {
                    <td>Invitado</td>
                    <td></td>
                    <td><a href="/Pedidos/Elegir/@pedido.IdPedido" class="btn btn-primary">Elegir Gustos</a></td>
                    <td></td>
                }
                else
                {
                    <td>Invitado</td>
                    <td><a href="/Pedidos/Detalle/@pedido.IdPedido" class="btn btn-info">Detalle Pedido</a></td>
                    <td></td>
                    <td></td>
                }
            }
                    <td><a href="/Pedidos/IniciarDesde/@pedido.IdPedido" class="btn btn-primary">Este Pedido</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        }
    </tbody>
</table>
<hr />
<div class="pageCount d-flex align-items-center flex-column justify-content-around">
    <b>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</b>
    <p>@Html.PagedListPager(Model, pagePos => Url.Action("Lista", new { pagePos }))</p>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <a href="/Pedidos/Iniciar" class="btn btn-success">Iniciar Pedido</a>
    @*<button type="button" class="btn btn-secondary">Middle</button>
        <button type="button" class="btn btn-secondary">Right</button>*@
</div>



@* ---------------------Modal eliminar--------------------- *@
<div class="modal fade" id="EliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mensajeEliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
                <button id="btnEliminarPedido" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>


@* ---------------------Modal Mensaje--------------------- *@
<div class="modal fade" id="confirmacionEliminarModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="headerResultado">OK</h4>
            </div>
            <div class="modal-body">
                <p id="mensaje"></p>
            </div>
            <div class="modal-footer">
                <button id="graciasId" type="button" class="btn btn-info" data-dismiss="modal">Gracias</button>
            </div>
        </div>

    </div>
</div>

