@model TrabajoPracticoPw3.Models.Usuario
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<h2>Iniciar Sesion</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", id = "email", name = "email", type = "email", autocomplete = "off" } })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña", id = "password", name = "password", type = "password", autocomplete = "off" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
}

<span>@ViewBag.mensaje</span>
